# .github/workflows/test.yml

on:
  pull_request:
    branches:
      - develop

name: RUN pyunit

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7

      - name: Install pipenv and dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests_oauthlib requestsã€€

      - name: Run Tests
        run:  python -m unittest